{% load static %}


<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
       
        <li class="nav-item" id="register_veh">
            <a class="nav-link " href="/register_vehicle">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Vehicle Registration</span>
            </a>
        </li>

        <li class="nav-item" id="manage_vehicles">
            <a class="nav-link " href="/manage_vehicle">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Manage Vehicle</span>
            </a>
        </li>


    {% if login_type == 'admin' %}
    
        <li class="nav-item" id="setup_toll_info">
            <a class="nav-link " href="/setup_toll_info">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Setup Toll Info</span>
            </a>
        </li>
        
    {% endif %}


        <li class="nav-item" id="toll_info">
            <a class="nav-link " href="/toll_info">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Toll Information</span>
            </a>
        </li>

        <li class="nav-item" id="toll_collection">
            <a class="nav-link " href="/toll_collection">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Toll Collection</span>
            </a>
        </li>

        <li class="nav-item" id="toll_collection_history">
            <a class="nav-link " href="/toll_collection_history">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Recent Toll Collected</span>
            </a>
        </li>

        <li class="nav-item" id="profile_div">
            <a class="nav-link " href="/profile">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Profile</span>
            </a>
        </li>

    </ul>
</nav>